---
// Create a custom table with named slot placeholders for header and body content
---

<table class="">
  <thead class="sticky top-0"><slot name="header" /></thead>
  <tbody class=""><slot name="body" /></tbody>
</table>
