---
import MainLayout from "@/layouts/main-layout.astro";
import Counter from "@/components/react/counter";
import { Image } from "astro:assets";
import Profile from "@/assets/output.webp";
import StockTable from "@/components/astro/StockTable.astro";

const { user } = Astro.locals;
---

<MainLayout title="Home">
  <div>
    <p>Astro is Cool man</p>
    <Counter client:load />
  </div>

  <Image src={Profile} alt="Profile Image" width="50" height="50" />
  <!-- <img
    src={Profile.src}
    alt="Profile Image"
    width={Profile.width}
    height={Profile.height}
  /> -->

  <div class="mt-10">
    <p>Details from locals (middleware)</p>
    {JSON.stringify(user, null, 2)}
  </div>

  <div class="mt-10">
    <p>Named Slots exaple with Fragment </p>
    <StockTable /> 
  </div>
</MainLayout>
