---
import RootLayout from "./root-layout.astro";
import Header from "@/components/astro/header.astro";
const { title } = Astro.props;
---

<RootLayout title={title}>
  <Header />
  <div class="px-4 mt-10">
    <slot />
  </div>
</RootLayout>
